{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes</title>
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit this recipe</a>
    </nav>
</header>
<main>
    <div>
        <h1>{{ recipe_object.title }}</h1>
    </div>
    <div>
        <p>Created on {{ recipe_object.created_on|date:"F d, Y" }}</p>
    </div>
    <img src="{{ recipe_object.picture }}" alt="taco image">
    <div>
        <p>4.3 stars</p>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Food item</td>
                </tr>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
</main>
{% endblock content %}
