{% extends 'base.html' %}
{% load static %}
{% block title %}{{ recipe_object.title }} - Scrumptious Recipes{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'show_recipe' recipe_object.id %}">Back to {{ recipe_object.title }} recipe</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Edit</button>
    </form>
</main>
{% endblock content %}
