{% extends 'base.html' %}
{% load static %}
{% block title %}Scrumptious Recipes{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>

        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}

    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <a href="{% url 'show_recipe' recipe.id %}">
                <h3>{{ recipe.title }}</h3>
            </a>
            <p>{{ recipe.created_on|date:"N d Y" }}</p>
            <img src="{{ recipe.picture }}" alt="taco image">
            <p>4.3 stars</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
