{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>Log In</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Log In</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
