{% extends 'base.html' %}
{% block title %}Sign Up! - Scrumptious Recipes {% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Sign up</button>
    </form>
</main>
{% endblock content %}
