body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

h1 h3 {
    color: #1E6252;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
}

a:hover {
    color: green;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #F55A34;
}

footer {
    background-color: #B5D066;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}
